<ion-content [fullscreen]="true">
  <div id="container">

    <ion-item fill="outline">
      <ion-label position="stacked"></ion-label>
      <ion-input placeholder="https://enter-the-join-link.almeda.de" type="url" [formControl]="joinInputCtrl">
      </ion-input>
      <ion-note slot="error" id="urlError" *ngIf="joinInputCtrl.touched">Enter valid URL</ion-note>
    </ion-item>

    <ion-text>
      <h6 style="margin-top: 30px;">Open as</h6>
    </ion-text>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedMethod">
        <ion-item *ngFor="let item of availableMethods">
          <ion-label>{{item.name}}</ion-label>
          <ion-radio slot="end" [value]="item.value"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="3">
          <ion-button color="light" [disabled]="!joinInputCtrl.value" (click)="clear()">Clear</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="joinLink()" [disabled]="!joinInputCtrl.valid">Join</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>